@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --heroBg: url("combg/hero_bg_overlay_m.png");
    --btn-text-case: capitalize;
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-bullet-inactive-color: white;
    scroll-padding-top: 10rem;
  }

  h1 {
    @apply text-[4.625rem] text-accent-content font-light;
  }

  h3 {
    @apply text-[2rem] text-accent-content;
  }

  article {
    @apply bg-[#000816] border-secondary border-4 rounded-3xl p-9;
  }

  button {
    @apply transition-all duration-500;
  }

  .noscroll{
    @apply overflow-hidden;
  }
}

/* global-replaceable */
html,
body {
  @apply h-full w-full text-accent-content scroll-smooth;
}

body {
  font-family: "Mulish";
  @apply overflow-hidden overflow-y-scroll scroll-smooth;
}

section {
  @apply h-full;
}

body::-webkit-scrollbar {
  display: none;
}

body > div:first-of-type {
  @apply relative;
}
